__Author:__ Marijse

__Aim:__ load the tournament id dictionary into postgres schema _0_original_data

In [3]:
# import the necessary packages
import xml.etree.ElementTree as ET
import pandas as pd
import numpy as np
import psycopg2
import sqlalchemy
from sqlalchemy import create_engine

import urllib.request
import requests
import io

In [5]:
# Set up the database connection wiht Psycopg2
db = psycopg2.connect(dbname='Rugby', user='postgres', host='localhost', password='password')
cursor=db.cursor()

# Set up a database connection using sqlalchemy
engine = create_engine('postgres://postgres:password@localhost:5432/Rugby')

In [6]:
# Creating table and schema
schema_name = '_0_original_data'
cursor.execute("CREATE SCHEMA IF NOT EXISTS " + schema_name)

### Reading Access into PostgreSQL

In [7]:
url = 'http://webservices.irb.com/EventInformation.asmx/MyAccess?uid=e9656db8-ffb5-4115-ac0b-cbd5688e6648'
response = urllib.request.urlopen(url)
data = response.read()      # a `bytes` object
text = data.decode('utf-8') # This shows the content of the xml file and can be used in the below function:

In [8]:
def xml2df(xml_data):
    root = ET.XML(xml_data) # element tree
    all_records = []
    for i, child in enumerate(root):
        record = {}
        for subchild in child:
            record[subchild.tag] = subchild.text
            all_records.append(record)
    return pd.DataFrame(all_records)

In [9]:
df = xml2df(text)
df.head()

,{http://webservices.irb.com/}AllowedFunctions,{http://webservices.irb.com/}EventId,{http://webservices.irb.com/}EventName
0,"AllTimeCareerRecords, AllTimeCareerRecordsinaM...",1382,1999/00 IRB Sevens World Series - Dubai
1,"AllTimeCareerRecords, AllTimeCareerRecordsinaM...",1382,1999/00 IRB Sevens World Series - Dubai
2,"AllTimeCareerRecords, AllTimeCareerRecordsinaM...",1382,1999/00 IRB Sevens World Series - Dubai
3,"AllTimeCareerRecords, AllTimeCareerRecordsinaM...",1386,1999/00 IRB Sevens World Series - Stellenbosch
4,"AllTimeCareerRecords, AllTimeCareerRecordsinaM...",1386,1999/00 IRB Sevens World Series - Stellenbosch

In [10]:
#Clean the data
dict_columns={}
for x in (df.columns.values):
    dict_columns[x] = x.lower().replace('{http://webservices.irb.com/}','')
df_clean = df.rename(columns=dict_columns)
    
# remove duplicates from the data
df_clean = df_clean.drop_duplicates(['eventid'], keep='first')

In [11]:
# We read df_clean into postgres
# Extract to SQL
table_name = 'tournament_id_dictionary'
schema_name = '_0_original_data'
df_clean.to_sql(schema=schema_name, con=engine, if_exists='replace', name=table_name)
db.commit

In [12]:
df2 = pd.read_sql_query("select * from _0_original_data.tournament_id_dictionary",db)
df2.to_csv('../_6_data_clean/tournament_id_dictionary.csv')