__Author:__ Marijse

__Aim:__ Notebook to create tables with country codes for different countries

In [13]:
# import the necessary packages
import xml.etree.ElementTree as ET
import pandas as pd
import numpy as np
import psycopg2
import sqlalchemy
from sqlalchemy import create_engine
import glob
from datetime import datetime

In [14]:
# Set up the database connection wiht Psycopg2
db = psycopg2.connect(dbname='Rugby', user='postgres', host='localhost', password='password')
cursor=db.cursor()

# Set up a database connection using sqlalchemy
engine = create_engine('postgres://postgres:password@localhost:5432/Rugby')

In [15]:
# Define variables

# Define the input and output strings
input_string = '../_4_data_extracts/dictionaries/'
output_strig = '../_6_data_clean/'

# Define schemas
schema1 = '_0_original_data'
schema2 = '_1_data_views'

### Loading the team ids as a table

In [16]:
# load data
df = pd.read_excel(input_string +'team_id_dictionary.xlsx')
df = df.rename(columns = {'TeamID':'teamid'})

In [17]:
# Create a column with standard abbreviations
df['country_code'] = df['country']
df['country_code'] = df['country_code'].apply(lambda x: x.lower())
df['country_code'] = df['country_code'].apply(lambda x: x[:3])
df['country_code'] = df['country_code'].apply(lambda x: x.replace('new','nzl').replace('sou','saf'))
df['teamid'] = df['teamid'].astype(str)
df['teamid'] = df['teamid'].apply(lambda x: x.replace('\xa0\xa0\xa0\xa0\xa0\xa0',''))
df.head()

               country teamid country_code
0      ARGENTINA         2408          arg
1    AUSTRALIA           2409          aus
2  CANADA                2410          can
3   ENGLAND              2412          eng
4         FIJI           2413          fij

In [18]:
df.to_csv('../_6_data_clean/team_dictionary.csv')

In [19]:
# Send df to SQL
table_name = 'team_id_dictionary'
df.to_sql(schema=schema1, con=engine, if_exists='replace', name=table_name)
db.commit()

### Loading the terminology as a table

In [20]:
# load data
df = pd.read_excel('../_6_data_clean/terminology_dictionary.xlsx')

In [21]:
df['abbreviation'] = df['abbreviation'].apply(lambda x: x.replace('\xa0\xa0\xa0\xa0\xa0\xa0\xa0\xa0\xa0\xa0\xa0\xa0\xa0\xa0\xa0\xa0\xa0\xa0\xa0\xa0\xa0\xa0\xa0',''))
df

   abbreviation                               term
0          Apps                        Appearances
1           Cap             Appearances as captain
2           Con                        Conversions
3            DG                         Drop Goals
4           Dra                              Draws
5       LMargin                      Losing Margin
6           Los                            Defeats
7           Pen                          Penalties
8        Points                             Points
9           Red                          Red Cards
10          Rep  Appearances as a Used Replacement
11          Sta                             Starts
12         Subs                       Replacements
13          Try                              Tries
14          Win                               Wins
15      WMargin                     Winning Margin
16       Yellow                       Yellow Cards

In [22]:
# Send df to SQL
table_name = 'terminology_dictionary'
df.to_sql(schema=schema1, con=engine, if_exists='replace', name=table_name)
db.commit()
db.close()