Author: Marijse

Aim: set up api

In [8]:
# Import packages
import pandas as pd
import numpy as np
import psycopg2
import sqlalchemy
from sqlalchemy import create_engine

In [9]:
# Setting up database connection using psycopg2
db = psycopg2.connect(dbname='Rugby', user='postgres', host='localhost', password='password')
cursor=db.cursor()

In [10]:
# Set up a database connection using sqlalchemy
engine = create_engine('postgres://postgres:password@localhost:5432/Rugby')

In [11]:
# Creating table and schema
schema_name = '_0_original_data'
table_name = 'test'
cursor.execute("CREATE SCHEMA IF NOT EXISTS " + schema_name)
cursor.execute("CREATE TABLE IF NOT EXISTS " + schema_name + "." + table_name + "()")
db.commit()

In [12]:
# Read table into dataframe
df = pd.read_sql_query("SELECT * FROM " + schema_name + "." + table_name,db)

In [13]:
df

Empty DataFrame
Columns: []
Index: []

In [14]:
# define database variables
schema_name = '_0_original_data'
table_name = 'fixtures_results_1684_dubai1617'

In [15]:
# Send df back to database
df.to_sql(schema=schema_name, con=engine, if_exists='replace', name=table_name)
db.commit()